header h1, header .centered-text {
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
    border-bottom: 4px solid #D991A0;
    padding-bottom: 10px;
  }
  
  .centered-text {
    text-align: center;
    margin: 20px 0;
  }
  